.block{
    background-color:rgba(167,238,81,0.9);
    width:1024px;
    height:auto;
    border-style:solid;
    border-radius:20px;
    border-color:rgb(244,128,11);
    border-width:3px;
    margin-left:auto;
    margin-right:auto;
    padding:5px;
}
.menu{
    background-color:rgba(136,214,247,0.9);
    border-style:solid;
    border-radius:20px;
    padding:5px;
    margin-left:auto;
    margin-right:auto;
    width:1024px;
}
#myimg{
    padding:5px;
    border-style:solid;
    border-color:black;
    margin:10px;
    height:auto;
    width:700px;
}

body{
    background-image:url("images/background.jpg");
    background-size:cover;
    background-position:center center;
    background-attachment:fixed;
    background-repeat:no-repeat;
}